/* 全局主色强制青柠绿 */
:root {
  --theme-color: #36D399 !important;
  --heo-theme: #36D399 !important;
}

/* 全站背景图 */
body {
  background: url("/img/bg.jpg") no-repeat center center fixed !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

/* 半透明遮罩，文字清晰 */
#web_bg {
  background-color: rgba(255,255,255,0.7) !important;
}